:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  color-scheme: dark;
  background: #0f172a;
  color: #f1f5f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}
